*{
   margin: 0;
   padding: 0; 
  
}
body{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.background{
    width:700px;
    height:500px;
}
.game{
    overflow: hidden;
    position:relative;
}
.danger-line{
    width:100%;
    height: 15px;
    background-color:red;
    position: absolute;
    bottom:0;
 }
.basketpic{
    width:70px;
    height:50px;
}
.basket{
    
    position:absolute;
    bottom:10px;
    left:calc(50% - 25px);
} 
 
.fruit{
    width:30px;
    height:30px;
    background-size:cover;
    position:absolute;
    background-image:url("STRAWBYYYY.png");
    
}

.fruit.cheries{
    background-image:url("cherries.png");
}

