.SPORTS-button {
    background-color: rgb(229, 134, 186);}
    .SPORTS-button:hover {opacity:0.8;
      background-color: aliceblue;
      color: rgb(229, 134, 186); }
         .SPORTS-button:active {opacity:0.6;}
   


.POP-culture-button {
    background-color: rgb(101, 50, 80);}
    .POP-culture-button:hover {opacity:0.8;
     background-color: aliceblue;
     color: rgb(101, 50, 80); }
         .POP-culture-button:active {opacity:0.6;}
   
.movies-TVshows-BUTTON {
    background: rgb(73, 6, 44);}
    .movies-TVshows-BUTTON:hover {opacity: 0.8;
     background-color: aliceblue;
     color: rgb(73, 6, 44);}
         .OTHER-BUTTON:active {opacity:0.6;}
    


    body {background: linear-gradient(30deg,   rgb(181, 28, 95), transparent);
        display: flex;
        justify-content: center;
        align-items: center;                          
        height: 100vh;
        margin: 0;}
  

    .buttons {
        display: grid;
        grid-template-columns: 1fr;
        gap: 130px;}
   

        
    button{color: aliceblue;
        border-radius: 13px;
        height: 100px;
        width:260px; 
        font-weight: bold;
        font-size: 20px;
        border: none;
        cursor: pointer;
        transition:background-color 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;}            
