* 
body {background-color:aliceblue;}

.reveal-button {
    background-color: rgb(25, 51, 50); 
    color:aliceblue ;
    padding: 5px 9px; /* Padding around the text */
    border: none; 
    border-radius: 15px;
    cursor: pointer; 
    font-size: 13px; 
    margin-top: 10px; /* Space above the button */
}

.reveal-button:hover {
    background-color: rgb(9, 97, 62);}

h1 {
    text-align: center; /* Center the text */
    color: rgb(25, 51, 50); 
    margin-top: 20px;
    font-size: 24px; 
}