*                                                                         
.HISTORY-button {background-color: rgb(165, 173, 117);}

.HISTORY-button:hover {opacity:0.8;
    background-color: aliceblue;
    color: rgb(165, 173, 117);  }
.HISTORY-button:active {opacity:0.6;}

.GEOGRAPHY-button {background-color: rgb(106, 102, 13);}

 .GEOGRAPHY-button:hover {opacity:0.8;
    background-color: aliceblue;
    color: rgb(106, 102, 13); }
 .GEOGRAPHY-button:active {opacity:0.6;}

.MATH-BUTTON {
 background-color: rgb(128, 145, 59);}

 .MATH-BUTTON:hover {opacity:0.8;
    background-color: aliceblue;
    color:  rgb(128, 145, 59); }
 .MATH-BUTTON:active {opacity:0.6;}


 body {background:linear-gradient(30deg,    rgb(241, 184, 20), transparent);
    display: flex;
    justify-content: center;
    align-items: center;                                          
    height: 100vh;                                    
    margin: 0;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 130px;}


    button{color: aliceblue;
        border-radius: 13px;
        height: 100px;
        width:240px; 
        font-weight: bold;
        font-size: 20px;
        border: none;
        cursor: pointer;
        transition:background-color 0.5s;}